jupyter
pandas
plotly
matplotlib

# For Fetch-Reddit-data
praw

# For word2vec
seaborn
wordcloud
nltk
scikit-learn
gensim

# For Deep Learning Architectures for Sequence Processing
keras
tensorflow
Keras-Preprocessing